/* FLEX BOX */
.flex-column, .flex-row { display: flex; flex-basis: auto; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-grow { flex-grow: 1; }
.flex-align-center { align-items: center; }
.flex-content-center { align-content: center; }
.flex-justify-center { justify-content: center; }
.flex-justify-start { justify-content: flex-start; }
.flex-justify-right { justify-content: flex-end; }
.flex-align-bottom { align-items: flex-end; }
.flex-shrink { flex-shrink: 1; }
.flex-basis { flex-basis: 0%; }


/* home */
.nav-header {
  padding: 20px;
  background-color: grey;
}

.logo-home {
  width: 100px;
  margin-top: 8px;
  -webkit-filter: brightness(0) invert(1);
}

.nav-objects * {
  color: white;
}

.nav-title {
  line-height: 48px;
  margin: 0 5px 0 30px;
}

.nav-icon {
  font-size: 2.3em;
}
