<div class="flex-row">
  <div class="flex-row flex-grow nav-header">
    <div class="flex-row flex-grow">
      <div class="logo-home-container"><img ng-src="../../img/airbnb-logo.png" alt="airbnb-logo" class="logo-home"></div>
    </div>
    <div class="flex-row nav-objects">

      <div class="flex-column">
        <div class="flex-row">
          <div class="flex-column nav-title">Host</div>
          <div class="flex-column"><i class="nav-icon ion-ios-home-outline"></i></div>
        </div>
      </div>

      <div class="flex-column">
        <div class="flex-row">
          <div class="flex-column nav-title">Messages</div>
          <div class="flex-column"><i class="nav-icon ion-ios-chatboxes-outline"></i></div>
        </div>
      </div>

      <div class="flex-column">
        <div class="flex-row">
          <div class="flex-column nav-title">Help</div>
          <div class="flex-column"><i class="nav-icon ion-help-buoy"></i></div>
        </div>
      </div>

      <div class="flex-column">
        <div class="flex-row">
          <div class="flex-column nav-title">Ben</div>
          <div class="flex-column"><i class="nav-icon ion-help-buoy"></i></div>
        </div>
      </div>

    </div>
  </div>

<!--   <div class="flex-row central-header">
  <div class="flex-row">
    <div class="flex-row">WELCOME HOME</div>
    <div class="flex-row">Rent unique places to stay from local hosts in 190+ countries.</div>
    <div class="flex-row">
      <div class="btn btn-primary">How It Works</div>
    </div>
  </div>
</div> -->

<!--   <div class="flex-row">
  <div class="flex-row">
    <div class="flex-column">Byron Bay, NSW</div>
    <div class="flex-column">Check In</div>
    <div class="flex-column">Check Out</div>
    <div class="flex-column">1 Guest</div>
    <div class="flex-column">Search</div>
  </div>
</div> -->
</div>
