<header>
    <nav id="main-nav" class="navbar">
    <div class="container">

        <!-- site logo -->
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <span class="glyphicon glyphicon-heart-empty"></span>
                Shop City
            </a>
        </div>

        <!-- search form -->
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <!-- logged in navigation -->
        <!-- todo: check for logged in user -->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Admin</a></li>
            <li><a href="#">Purchases</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>

        <!-- not logged in navigation -->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Register</a></li>
            <li><a href="#">Sign in</a></li>
        </ul>
    </div>
    </nav>
</header>
